@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html, body {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F8F8F4;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 95vh;
}

form {
  padding: 40px  0;
  width: 80%;
  margin: 0 auto;
  /*---- HEADER ----*/
  /*---- ask for action ----*/
  /*---- form ----*/
}

form .header {
  margin-bottom: 50px;
}

form .header h1 {
  font-weight: 500;
  font-size: 40px;
  color: #FAA02A;
  margin-bottom: 13px;
}

form .header .text {
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  line-height: 30px;
}

form .ask-action h3 {
  font-weight: 300;
  font-size: 12px;
  color: #959393;
  margin-bottom: 20px;
}

form .form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #000000;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 15px 20px;
  margin-bottom: 28px;
}

form .form .input img.icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

form .form .input .field input {
  border: none;
  outline: none;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  width: 100%;
  background-color: transparent;
}

form .form .input .field input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}

form .form .input .field input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}

form .form .input .field input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}

form .form .input .field input::placeholder {
  font-weight: 300;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}

form .form button {
  padding: 18px;
  background: #FEE3BF;
  border: 1px solid #FEECD4;
  border-radius: 5px;
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer span {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  text-align: center;
}

footer span a {
  text-decoration: none;
  color: #FAA02A;
}

footer img {
  position: absolute;
  right: 10px;
}

mark {
  background-color: #FEE3BF;
}

.underline {
  border-bottom: 1px solid black;
}

@media only screen and (min-width: 600px) {
  body {
    width: 50%;
    margin: auto;
  }
}
/*# sourceMappingURL=styles.css.map */